# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Databases & State
*.sqlite
*.sqlite*
*.db
checkpoints.sqlite
chroma_db/
instance/

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
